
.btn{
	border-radius: 0;
}

p{
	text-align: justify;
}

p span{

}


.bg_topo{
	background: url(../imgs/bg_topo.png)top center no-repeat;
	min-height: 144px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

.Montserrat{font-family: 'Montserrat', sans-serif;}

.btn_verde_topo{
	background: #009700;
	border-radius: 0;
	color: #fff;
}



.btn_verde{
	background: #009700;
	border-radius: 0;
	color: #fff;
}

.btn_verde:hover{
	background: #011b01;
	color: #fff;
}

.telefone_topo{
	color: #009800;
}

.telefone_topo .svg-inline--fa.fa-fw,
.telefone_topo .svg-inline--fa.fa-w-14 {
    color: #000 !important;
}

.Open{
	font-family: 'Open Sans', sans-serif;
}

.titulo_equipamento h6 span,.titulo_equipamento h3{
	font-weight: 600;
	color: #8f9092;
}

.titulo_equipamento h6 span,.titulo_equipamento h3{
	font-weight: 600;
	color: #8f9092;
}

.titulo_equipamento h6 span,.titulo_equipamento h3{
	font-weight: 300;
	color: #8f9092;
}

.titulo_equipamento h3{
	font-weight: 700;
	font-size: 1.88rem /* 30/16 */;
	letter-spacing:-2px;
	line-height: 28px;
}

.btn_cinza{
	background: #626c62;
	color: #fff;
}

.btn_cinza:hover{
	background: #5a7f5a;
	color: #fff;
}

.bg_categorias{
	background: url(../imgs/barra_cat.png)top center no-repeat;
	min-height: 62px;
	top: 0;
}
.bg_servicos_empresa{
	background: url(../imgs/bg_servicos_empresa.jpg)top center no-repeat;
	min-height: 951px;
}

.titulo_geral h2{
color: #fff;
font-weight: 600;
text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.39);
letter-spacing: -1px;
}

.titulo_geral h4{
color: #fff;
font-weight: 300;
text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.39);
letter-spacing: -1px;
}

.bg_servicos{
	background: url(../imgs/bg_servicos_geral.jpg)top center no-repeat;
	min-height: 546px;
}



.descricao_geral h2{
	font-weight: 600;
	color: #454545;
}

.btn-outline-success {
  position: relative;
	padding-right: 50px;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #009700;
    border-color: #009700;
}

.fundo_contato{
	background: url(../imgs/fundo_contato.jpg)top center no-repeat;
	min-height: 652px;
}

.fundo_formulario .nav-pills .nav-link{
    color: #fff;
    background-color: #626c62;
		border-radius: 0;
}


.fundo_formulario .nav-pills .nav-link.active,
.fundo_formulario .nav-pills .show>.nav-link,.btn_verde_contato {
    color: #fff;
    background-color: #45b345;
		border-radius: 0;
}

.fundo_formulario .nav-link:focus,
.fundo_formulario .nav-link:hover {
    background-color: #45b345;
}

.mapa{
	background: url(../imgs/barra_map.png)top center no-repeat;
	min-height: 62px;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
	outline: 0;
}

.fundo_orcamento{
	background: url(../imgs/fundo_orcamento.jpg)top center no-repeat;
	min-height: 715px;
}

.map_orcamento{
	margin-top: -25px;
}

.fundo_empresa{
	background: url(../imgs/fundo_empresa.jpg)top center no-repeat;
	min-height: 930px;
}

.bloco_empresa {
    position: absolute;
    bottom: -261px;
    right: 184px;
    width: 350px;
    height: 137px;
}

.mt-90{
	margin-top: -5.63rem /* -90/16 */;
}


.lista-servicos .card-body{
	background: #6c6d6c;
	color: #fff;
	border-bottom: 3px solid #3f423f;
}

.lista-servicos .card-body p{
	height: 50px;
    overflow: hidden;
}
