
/**
============================================
rodape
============================================
*/

.scrollup{width:65px;height:65px;opacity:0.3;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}

/**
============================================
rodape
============================================
*/

.rodape{
	background: #cecaca;
	min-height: 11.94rem /* 191/16 */;
}

.rodape .nav .nav-item .nav-link{
	font-size: .88rem /* 14/16 */;
	color: #454745;
	letter-spacing: -1px;
}

.rodape .nav .nav-item .nav-link:hover,
.rodape .nav .nav-item .nav-link.active{
	color: #009800;
}

.redes a{
	color: #2c2c2c;
}

.rodape_verde{
	background: #178517;
	height: 2.88rem /* 46/16 */;
	color: #fff;
}



.telefone_rodape .col-6{
	color: #010101;
	font-size:1.13rem /* 18/16 */;
	line-height: 1;
}

.telefone_rodape .col-6 span{
	color: #178517;
	font-size:.75rem /* 12/16 */;
	margin-left: 36px;
}


.telefone_rodape .svg-inline--fa.fa-fw,.telefone_rodape .svg-inline--fa.fa-w-14 {
    color: #000 !important ;
}

.endereco_topo p{
	color: #454745;
	font-size: .88rem /* 14/16 */;
}

/**
============================================
topo
============================================
*/

.menu_topo .navbar-nav > li > a {

}

.menu_topo .navbar-light .navbar-nav .nav-link{
	color: #fff;
	background: none;
	font-weight: 600;

}

.menu_topo .navbar-light .navbar-nav .active>.nav-link,
.menu_topo .navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
	border-bottom: 3px solid #fff;
	background: none;
}

.menu_topo .nav-link1,.menu_topo .nav-link1:hover {
	display: block;
	padding: 2px;
	background: none;
	color: #fff;
	font-weight: 600;

}

.menu_topo .navbar-nav > li > a {
    padding: 2px;
}

/**
============================================
topo
============================================
*/
