/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width   :100%;
	height  :543px;
	margin  :0px auto;
	overflow: hidden;
	position: relative;
	margin-top: 0px;
	position: relative;

}

#content_slider {
	width      :1920px;
	height     :543px;
	overflow   :hidden;
	position   :relative;
	margin-left:-960px;
	top        :25px;
	left       :50%;
}



/*arrow personalizados*/
#container_banner .rsArrowLeft {
	display: block;
	width: 0;
	height: 0;
	background: url(../imgs/arrow_left.png) center no-repeat;
	z-index: 999;
	top: 280px;
	position: absolute;
	left: 5px;
}


#container_banner .rsArrowRight {
	display: block;
	width: 0;
	height: 0;
	background: url(../imgs/arrow_right.png) center no-repeat;
	z-index: 999;
	top: 280px;
	position: absolute;
	right: 5px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- flexslider  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.lista_categorias .flexslider {
    margin: 0 0 0px;
    background: url(../imgs/bg_transparente.png);
    border: 0;
}

.lista_categorias #slider1 .slides li a {
    font-size: 14px;
    color: #fff;
    /* border: 4px solid #f78436; */
    border-left: 0;
    margin-top: 9px;
		font-weight: 600;
}

.line_cat {
    height: 21px;
    overflow: hidden;
}

.lista_categorias #slider1 .slides li a span {
    width: 100px !important;
}

.todas_cat {
    color: #8f9092 ;
}

/* .lista_categorias #slider1 .slides li.active a, */
.lista_categorias #slider1 .slides li a:hover {
		color: #000900;
		/* border-bottom: 2px solid #fff ; */

}

.lista_categorias .flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
    margin: -10px -35px 0 !important;
}

.lista_categorias .flex-direction-nav a {
    top: 32%;
		margin: -10px -50px 0;
}


.produto-hover {
    left: 0px;
    background: url(../imgs/transparente.png);
    width: 100%;
    height: 263px;
    position: absolute;
    top: 0;
    opacity: 0;

}

.hover_prod {
    height: 268px;
}
.row_alt{
	min-height: 263px;
}

.produto-hover a{
  color: #fff;

}

.produto-hover a:hover{
  color: #178517;
}

.produto_hover_cat{
	padding-left: 0;
}

.btn_saiba_mais{
	color: #3e3d3d;
	font-size: .88rem /* 14/16 */;
}

.btn_saiba_mais:hover{
	color:   #178517;
}

.btn_saiba_mais .svg-inline--fa.fa-fw{
    color: #000 !important;
}

.fa-plus-circle:before {
    color: #000 !important;
}


.carroucel_produtos .card{
border: 0;
background: #e1e2e1;
padding: 0;
margin-right: 6px;
}

.carroucel_produtos .card-body{
  background: #e1e2e1;
}
.position_barra_hover {
    width: 286px !important;
    margin-top: -7px;
}

.lista_produtos_home .flexslider{
  margin: 0;
	border: 0;
	background: none;
}

.lista_servicos .flexslider{
	margin-top: 107px;
}


.flex-prev{
	position: absolute;
	top: 35%;
	left: -36px;
}

.flex-next{
	position: absolute;
	top: 35%;
	right: -36px;
}


.custom-navigation a{
	color: #bfc1c4;
}


.custom-navigation a :hover{
	color: #178517;
}

.portfolio .card{
border: 0;
background: none;;
padding: 0;
margin-right: 6px;
}


#slider_carousel_portifolio .flex-direction-nav a {
    margin: -22px -35px 0;
}


#slider_carousel_portifolio .flex-direction-nav .flex-prev {
     /* left: -50px; */
}


#slider_carousel_portifolio .flex-direction-nav .flex-next {
    /* right: -50px;
    text-align: right; */
}



.slider_prod_geral .flexslider .slider-prod-tumb {
    margin: 0px;
    margin-top: 1.25rem;
		padding: 10px;
    background: #d8ecd8;
    border: 0;
    z-index: 9;
}


.slider_prod_geral .slider-prod-tumb li img,
.slider_prod_geral .slider-prod-tumb li img.active{
height: 60px !important;
padding: 5px;
}

.slider_prod_geral .slider-prod li img:hover {
    cursor: -webkit-zoom-in;
}

.slider_prod_geral .slider-prod-tumb li img:hover,
.slider_prod_geral .slider-prod-tumb li.active img {
    opacity: 1;
    border: 1px solid #001d33;
}

#carousel_item .flex-active-slide img {
    opacity: .6	;
    cursor: default;
}


.desc_titulo_home {
	overflow: hidden;
	height: 48px;
}

.lista-produto h5 span{
	font-size: .75rem /* 12/16 */;
	color: #fff;
	font-weight:400;
	line-height: .75rem /* 12/16 */;
}

.desc_servicos_geral {
    background: #5b5b58;
    width: 184px;
    height: 73px;
    position: absolute;
    left: 37px;
    bottom: -42px;
    z-index: -1;
}

.desc_servicos_geral1 {
    background: #5b5b58;
    width: 190px;
    height: 73px;
    position: absolute;
    left: 12px;
    bottom: -42px;
    z-index: -1;
}

.slider_prod_geral #slider_item {
	margin: 0 !important;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- flexslider  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- EFFECT JULIA  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

figure.effect-julia:hover {
  background: #2f3238;
}


.lista-produto .grid figure figcaption {
    padding: 2em 1.9em;
}

.lista-produto figure a, .lista-produto figure a:hover {
  color: #c9cbd1;
	background: none;
}

.lista-produto figure a:hover {
  color: #178517;
}

.portfolio figure.effect-julia p {
    background: none !important;
}

.portfolio .grid figure {
    min-width: 157px !important;
}

.lista_servicos .grid figure{
	  min-width: 199px !important;
}
