/* =============== EMPRESA =============== */

.localizacao-pagina {
    height: 5.31rem /* 85/16 */;
    border-bottom: 7px solid #178517;
}

.btn_verde_claro{
  background: #7fcb7f;
}

.btn_verde_escuro{
  background: #1a7753;
}

.desc_titulo_servicos{
  overflow: hidden;
  height: 45px;
}

.desc_titulo_produtos{
  overflow: hidden;
  height: 42px;
}

.btn_servico{
font-size: .5rem /* 8/16 */;}

.produtos .card{
  border: 0;
}
.produtos .card-body{
  padding: 0;
}

.btn_prod{
  font-size: .5rem /* 8/16 */;
  padding: 11px 10px;
}
