.topo{ text-align: center;padding: 0px 0px 2px 0px;}
.rodape{background: #047004; height: 40px; color: #fff; position: fixed; bottom: 0px;padding: 10px 0px 0px 0px; z-index: 999;}
.rodape a{color: #fff; text-decoration: none; font-size: .81rem /* 13/16 */;font-weight: 700;}
.separador-rodape{height: 3.13rem;}
.btn-topo{background: none; color: #047004;}

.menu-mobile-principal{background: #047004;}
.menu-mobile li{
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
}
.menu-mobile li a:visited, .menu-mobile li a{color: #000;font-size: 1rem;}
.bg_topo{background:#FFF;height: 3.75rem /* 60/16 */;line-height: 4;}


.btn_verde{
  color: #fff;
  background: #047004;
  font-size: 1rem;
}

.bg_branco{
  background: #fff;
}
.numero{
  font-size: 1rem /* 16/16 */;
color: #000;
}

.bg_branco_borde{
  border-bottom: 1px solid #f0f0f0;
}
